*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 /*
 *common-using-code  
 */
 
 .primariy-wid{
  width: min(1320px,100%);
  margin: 0 auto;
  border-radius: 16px;
  box-shadow: 0px 0px 10px;
 }
 .primariy-wid1{
  width: min(1320px,100%);
  margin: 0 auto;
  
 }

 .tops{
  margin-top: 100px;
 }

/* 
*header area style 
*/
.header{
  height:600px;
  background-image: url(../images/Banner\ Image.png);
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  z-index: 99;
  border-radius: 16px;
  box-shadow: 0px 0px 10px;
  top: 0;

}
.header-cont{
  text-align: center;
}

.header-subtitel{
  font-size: 32px;
  color: #FFFFFF;
  text-transform: capitalize;
  margin-bottom: 24px;
}
.header-titel{
  font-size:72px;
  line-height: 95px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.z-index::after{
  content: "";
  width:100% ;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  border-radius: 16px;
  z-index: -1;
}

/*
 *offer section style
*/

.offer-section{
  width: 802px;
  margin: 100px auto;
  text-align:center ;
}
.offer-card p{
  font-weight: bold;
  font-size: 88px;
  color: #FF0000;
  margin-bottom: 48px;
  text-transform: uppercase;
}
.offer-card h4{
  font-weight: 600;
  font-size: 24px;
  color: #FF0000;
  margin-bottom: 16px;
  
  font-variant: small-caps;
}
.offer-card h2{
  font-weight:bold;
  font-size: 48px;
  margin-bottom: 48px;
  font-variant: small-caps;
}

/*
*welcome-section-style 
*/
.welcome-section{
  background-image: url(../images/Vectorrr.png);
  background-repeat: no-repeat;
  height: 600px;
  position: relative;
  display: flex;
  justify-content:center;
  align-items: center;
  margin-bottom: 100px;
  z-index: 99;
}

.welcome-card::after{
  content: "";
  width:100% ;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  border-radius: 16px;
  z-index: -1;
}
.welcome-card{
  margin: 0 120px;
}
.welcome-card span{
 text-transform: capitalize;
  
}
.welcome-card h2{
  font-size: 64px;
  line-height: 88px;
  color: #FFFFFF;
  
}
.welcome-card p{
  font-size: 18px;
  margin-top: 30px;
  color: #FFFFFF;
  
}
.welcome-card a{
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
  color: #FFFFFF;
  
}



.welcome-card a:hover{
  text-decoration: underline;
}

/*
*join-section-style 
*/

.join-section{
 background-image: linear-gradient(#eee1e1,#ffff);
  margin-bottom: 100px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 482px;
  
  
}
.join-card{
  width: 549px;
  margin: 0 auto;
  text-align: center;
}
.join-card span{
 color: #FF0000;
}

.join-chaild{
  text-align: center;
  
  margin-bottom: 44px;
}

.join-chaild h3{
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 32px;
  text-transform: capitalize;
}
.btn{
  padding: 16px 32px;
  background-color: #FF0000;
  cursor: pointer;
  color: aliceblue;
  width: 200px;
  border: none;
  border-radius: 10px;
  transition: 1s;
}
.btn:hover{
  background-color: blue;
}

/*
*offer-coming-section-style 
 */

 .offer-coming-section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 100px;
  margin-bottom: 100px;
  
 }
 .offer-coming-card{
  flex-basis: 26%;
  
 }
 .offer-coming-card2{
  
  padding: 20px;
  border-radius: 50%;
  border: 5px solid red;
 }
 .offer-coming-card h4{
  font-weight:600;
  font-size: 24px;
  color: #FF0000;
  margin-bottom: 16px;
  text-transform: capitalize;
 }
 
 .offer-coming-card h2{
  font-weight:bold;
  font-size: 48px;
  margin-bottom: 24px;
  text-transform: capitalize;
 }
 .offer-coming-card h3{
  font-weight:bold;
  font-size: 48px;
  margin-bottom: 16px;
  color: #FF0000;
  text-transform: capitalize;
 }
 .offer-coming-card p{
  
  font-size: 20px;
  color: #070211;
  
 }

 .offer-img-div{
  margin-top: 48px;
 }

 /* *discount-section-style */

 .discount-section{
  
  margin-top: 100px;
  margin-bottom: 100px;
  
  
 }
 .discount-titel-card{
  max-width: 1068px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 76px;
 }
 .discount-titel-card h4{
  text-transform: uppercase;
  font-weight: 600;
  font-size:24px ;
  margin-bottom: 16px;
 }
 .discount-titel-card h2{
  text-transform: capitalize;
  font-weight: bold;
  font-size:72px;
  margin-bottom: 28px;
 }
 .discount-titel-card p{
 
  font-size:20px;
 
 }
 .discount-titel-card span{
 
  color: #FF0000;
 
 }
 .discount-banner-img{
  width: 1320px;
  height: 650px;
  position: relative;
  margin-top: 76px;
 
 }
 .discount1{
  position: absolute;
  top: 0;
  right: 200px;
 }
 .discount3{
  position: absolute;
  bottom:0;
  
 }
 .discount2{
  position: absolute;
  bottom:0;
  z-index: 1;
  
 }
 /* * portfolio-section-style */
.portfolio-section{
  margin-bottom: 100px;
}
 .portfolio-ttitel h6{
  font-weight: 600;
  font-size: 24px;
  color: #FF0000;
  text-transform: uppercase;
  margin-bottom: 10px;
 }
 .portfolio-ttitel h3{
  font-weight: bold;
  font-size: 48px;
  
  text-transform:capitalize;
  margin-bottom: 10px;
 }
 .portfolio-ttitel p{
  
  font-size: 20px;
  margin-bottom: 40px;
  
  
 }
 .portfolio-card {
  display: flex;
  flex-wrap: wrap;
  gap:15px;
  
 }
 .protfolio-img{
  flex-basis: 25%;

 }
 .portfolio-card img{
  
  
  border-radius: 16px;
  box-shadow: 0px 0px 5px red;
  cursor: pointer;
  transition: 1s;
 
 }
 .portfolio-card img:hover{
  opacity: 0.4;
 }

 /* *Subscribe-section style */

 .Subscribe-section{
  background-image: linear-gradient(#DEE2E3,#FED200);
  margin-bottom: 100px;
  text-align: center;
 }
 .Subscribe-titel img{
  width: 150px ;
  height: 150px;
  margin-bottom: 25px;
 }
 .Subscribe-titel h3{
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 22px;
  text-transform: capitalize;
 }
 .Subscribe-titel p{
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 30px;
  
 }
 .Subscribe-input input:focus{
  outline: none;
 }
 .Subscribe-input input{
  padding: 20px 30px;  
  width: 600px;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 0px 5px red;
  position: relative;
  cursor: pointer;
  margin-bottom: 30px;
 }
  .button{
  padding: 20px 30px;  
  width: 200px;
  border: none;
  
  cursor: pointer;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 0px 5px red;
  background-color: #FF0000;
  position: absolute;
  color:#FFFFFF;
  transition: 1s;
  right: 34%;
 }
 .button:hover{
  background-color: blue;
  color: #FFFFFF;
 }

 /* * footer-area style */

 .footer-area{
  background-color: #070211;
 }
.footer-contneiar{
  display: flex;
  color: #FFFFFF;
  border-bottom: 2px solid white;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  
}
.footer-card{
  text-transform: capitalize;
  font-size: 24px;
  font-weight: bold;
  
}
.footer-card h3{
  line-height: 40px;
}
.footer-card2{
  
  font-size: 24px;
  font-weight: bold;
  
  
}
.footer-card3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-card3 h3{
  margin-bottom: 15px;
  cursor: pointer;
}

.footer-card3 img{
 width: 24px;
 margin-right: 10px
}

.icon-area{
  text-align: center;
  border-bottom: 2px solid white;
  margin-top: 30px;
  margin-bottom: 30px;
}
.icon-area img{
  margin: 10px;
  margin-bottom: 30px;
  width: 64px;
  cursor: pointer;
}
.last-titel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  
}
.last-titel h4{
  font-size: 24px ;
  font-weight: 600;
  margin-bottom: 60px;
}
.last-titel h3{
  font-size: 24px ;
  font-weight: 600;
  margin-bottom: 60px;
  cursor: pointer;
}

